h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(17, 25, 134)
}

hr.nch-dashed {
    border-top: 2px dotted #08C;
}  

a, p, figcaption, figure, form, li, table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black
}

textarea {
    width: 99%;
}

a { color: #3c6604 }
a:visited { color: #3c6604; }
a:hover { color: crimson; }
a:active { color: rgb(255, 145, 163); }

.nch-bold {
    font-weight: bolder;
}
.nch-text-center {
    text-align: center;
}

.nch-figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    width: 50%;
}

.nch-input-1 {
    width: 36px;
}
.nch-input-2 {
    width: 48px;
}

.nch-body {
    background-color: #463462;
}


.nch-table tr:nth-child(odd) {
    background-color: #888888;
    color: #000000;
}
.nch-table tr:nth-child(even) {
    background-color: #BBBBBB;
    color: #000000;
}
.nch-table tr:nth-child(1) {
    background-color: #444444;
    color: #DDDDDD;
}

.nch-div-list {
    margin-left: 0px;
    margin-right: 40px;
}
.nch-div-floating {
    margin: auto;
    margin-bottom: 10px;
    border: 16px;
    border-width: 5px;
    border-style: solid;
}
.nch-div-background {
    background-image: linear-gradient(#650df1, #583cf6, #463492);
    padding: 10px;
}
.nch-div-background-alt {
    background-image: linear-gradient(#463492, #650df1);
    padding: 10px;
}
.nch-div-header {
    background-color: aquamarine;
    padding: 2px;
    width: 95%;
    max-width: 950px;
    border-image: linear-gradient(#3cf664, #270c9f) 30;
}
.nch-div-main {
    background-color: rgb(180, 245, 223);
    padding: 10px;    
    width: 80%;
    max-width: 800px;
    border-width: 3px;
    border-image: linear-gradient(#FFFFFF, #000000) 45;
}
.nch-div-footer {
    background-color: #e0d4eb;
    
    padding: 2px;
    width: 95%;
    max-width: 950px;
    border-image: linear-gradient(#5920b4, #093e69) 30;
}
.nch-div-fill {
    height: 100%; 
}