:root {
    --midnight: #0b132b;
    --dusk: #1c2541;
    --dark-blue: #000022;
    --blue: #000033;
    --dark_lavender: #835471; 
    --lavender: #9e768f;
    --turquoise: #00a985;
    --ocean: #5bc0be;
    --underground: #794c0a;
    --earth: #c57432;

    --font-titles: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-paragraphs: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, black, var(--dusk));
    background-size: 100rem 100rem;
}

footer {
    padding-top: 1em;
    text-align: center;
}

footer a {
    text-decoration: none;
}

p, a, li {
    font-family: var(--font-paragraphs);
    color: wheat;
}

a:visited {
    color: var(--dark_lavender)
}

a:hover {
    color: var(--turquoise);
}

table.intro {
    font-family: var(--font-titles);
}

table.intro {
    max-width: 50em;
    height: 40em;
    margin: 0 auto;
    margin-top: 10em;

    padding: 10px 10px 10px 10px;

    border-width: 10px;
    background-color: var(--dusk);
}

table.intro h2 { color: var(--ocean); }
table.intro h4 { color: var(--earth) }

td.sidepanel { background-color: var(--dark-blue); }
td.bottompanel { background-color: var(--blue); }

table.intro tr td.welcome {
    background-color: black;
    padding: 2em 2em 2em 2em;
    width: 500em;
}
table.intro tr td {
    padding: 0.5em;
}

table.intro tr td.welcome img {
    display: block;
    margin: 0 auto;

    image-rendering: pixelated;
    text-align: center;
    width: 25%;
    min-width: 10em;
}

