#output {
    background-color: black;
    color: white;
    width: 80%;
}

div.emscripten_border {
    text-align: center;
    margin: 2.5em 0em 0em 0em;
    padding: 0 0 0 0;

    top: -28px;
    left: 0;
    position: absolute;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin: 0;
}

canvas {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    margin-bottom: 0.5em;
}